@import url("https://fonts.google.com/specimen/Kumbh+Sans");

@media screen and (max-width:375px) {
    body{
        background-color:hsl(185, 75%, 39%);
        height: auto;
        width: auto;
        box-sizing: border-box;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(".//images/bg-pattern-bottom.svg");
        }
    .card{
            padding-left: 24px;
            height: 370px;
            width: 320px;
            padding-top: 50px;
            line-height: 27px;
            font-weight: 400;
            position: relative;
            right: 1px;
            top: 100px;
            bottom: 50px;
            background-color: white;
            border-radius: 20px;
    }

    .card#bgcard{
        background-image: url(".//images/bg-pattern-card.svg");
        height: 135px;
    }


}